<?xml version="1.0" encoding="UTF-8"?>
<phpunit convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         convertErrorsToExceptions="true"
         bootstrap="vendor/autoload.php"
         backupStaticAttributes="false"
         processIsolation="false"
         backupGlobals="false"
         stopOnFailure="false"
         colors="true"
         stderr="true">
    <testsuites>
        <testsuite name="Wordpress Nonces Tester">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
